﻿@model IQueryable<WebAPICase.Models.Historico>

<div class="container" style="margin-top: 10px;">

    <button type="button" class="btn btn-success btn-sm pull-right" style="margin-bottom: 10px;" title="Novo" data-toggle="modal" data-target="#modalNovo"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo</button>

    <table id="dataTable" class="table table-striped">
        <thead>
            <tr>
                <th class="col-sm-1">Estado</th>
                <th class="col-sm-2">Municipo</th>
                <th class="col-sm-2">Revendedora</th>
                <th class="col-sm-1">Codigo</th>
                <th class="col-sm-1">Data da Coleta</th>
                <th class="col-sm-1">Valor de Venda</th>
                <th class="col-sm-1">Und Medida</th>
                <th class="col-sm-2">Bandeira</th>
                <th class="col-sm-1">Opções</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var historico in Model)
            {
                <tr>
                    <td>@historico.estado</td>
                    <td>@historico.municipio</td>
                    <td>@historico.revenda</td>
                    <td>@historico.instalacaoCodigo</td>
                    <td>@historico.dataColeta.ToShortDateString()</td>
                    <td>@historico.valorVenda</td>
                    <td>@historico.undMedida</td>
                    <td>@historico.bandeira</td>
                    <td>
                        <button type="button" class="btn btn-info btn-xs" title="Detalhar" onclick="functionDetalharHistorico(@historico.idHistorico)"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-warning btn-xs" title="Editar" onclick="functionEditarHistorico(@historico.idHistorico)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-danger btn-xs" title="Deletar" data-toggle="modal" data-target="#modalDeletar-@historico.idHistorico"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                    </td>
                </tr>

                <div class="modal fade" id="modalDeletar-@historico.idHistorico" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Deletar Usuario</h4>
                            </div>
                            <div class="modal-body">
                                <h2>Deseja realmente deletar o historico: @historico.idHistorico?</h2>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" onclick="functionDeletarHistorico(@historico.idHistorico)">Sim</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
</div>

@* MODEL NOVO HISTORICO *@
<div class="modal fade" id="modalNovo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo Historico</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label">Região:</label>
                        <input type="text" id="regiaoNovoHistorico" value="" class="form-control" />
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Estado:</label>
                        <input type="text" id="estadoNovoHistorico" value="" class="form-control" />
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">Municipio:</label>
                        <input type="text" id="municipioNovoHistorico" value="" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label class="control-label">Revendedora:</label>
                        <input type="text" id="revendaNovoHistorico" value="" class="form-control" />
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">Bandeira:</label>
                        <input type="text" id="bandeiraNovoHistorico" value="" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Codigo:</label>
                        <input type="text" id="instalacaoCodigoNovoHistorico" value="" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Produto:</label>
                        <input type="text" id="produtoNovoHistorico" value="" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Data de Coleta:</label>
                        <input type="text" id="dataColetaNovoHistorico" value="" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Und de Medida:</label>
                        <input type="text" id="undMedidaNovoHistorico" value="" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Valor de Compra:</label>
                        <input type="text" id="valorCompraNovoHistorico" value="" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Valor de Venda:</label>
                        <input type="text" id="valorVendaNovoHistorico" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="buttonNovoHistorico">Salvar</button>
            </div>
        </div>
    </div>
</div>

@* MODEL DATALHAR HISTORICO *@
<div class="modal fade" id="modalDetalhar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Detalhar Historico</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label">Região:</label>
                        <span id="regiaoDetalharHistorico"></span>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Estado:</label>
                        <span id="estadoDetalharHistorico"></span>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">Municipio:</label>
                        <span id="municipioDetalharHistorico"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label class="control-label">Revendedora:</label>
                        <span id="revendaDetalharHistorico"></span>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">Bandeira:</label>
                        <span id="bandeiraDetalharHistorico"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Codigo:</label>
                        <span id="instalacaoCodigoDetalharHistorico"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Produto:</label>
                        <span id="produtoDetalharHistorico"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Data de Coleta:</label>
                        <span id="dataColetaDetalharHistorico"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Und de Medida:</label>
                        <span id="undMedidaDetalharHistorico"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Valor de Compra:</label>
                        <span id="valorCompraDetalharHistorico"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Valor de Venda:</label>
                        <span id="valorVendaDetalharHistorico"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@* MODEL EDITAR HISTORICO *@
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar Historico</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="idHistoricoEditarHistorico" />

                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label">Região:</label>
                        <input type="text" id="regiaoEditarHistorico" value="" class="form-control" />
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Estado:</label>
                        <input type="text" id="estadoEditarHistorico" value="" class="form-control" />
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">Municipio:</label>
                        <input type="text" id="municipioEditarHistorico" value="" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label class="control-label">Revendedora:</label>
                        <input type="text" id="revendaEditarHistorico" value="" class="form-control" />
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">Bandeira:</label>
                        <input type="text" id="bandeiraEditarHistorico" value="" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Codigo:</label>
                        <input type="text" id="instalacaoCodigoEditarHistorico" value="" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Produto:</label>
                        <input type="text" id="produtoEditarHistorico" value="" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Data de Coleta:</label>
                        <input type="text" id="dataColetaEditarHistorico" value="" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">Und de Medida:</label>
                        <input type="text" id="undMedidaEditarHistorico" value="" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Valor de Compra:</label>
                        <input type="text" id="valorCompraEditarHistorico" value="" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Valor de Venda:</label>
                        <input type="text" id="valorVendaEditarHistorico" value="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="buttonEditarHistorico">Salvar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" lang="pt-br">

        $(document).on("click", "#buttonNovoHistorico", function () {
            var regiao = $("#regiaoNovoHistorico").val();
            var estado = $("#estadoNovoHistorico").val();
            var municipio = $("#municipioNovoHistorico").val();
            var revenda = $("#revendaNovoHistorico").val();
            var bandeira = $("#bandeiraNovoHistorico").val();
            var instalacaoCodigo = $("#instalacaoCodigoNovoHistorico").val();
            var produto = $("#produtoNovoHistorico").val();
            var dataColeta = $("#dataColetaNovoHistorico").val();
            var undMedida = $("#undMedidaNovoHistorico").val();
            var valorCompra = $("#valorCompraNovoHistorico").val();
            var valorVenda = $("#valorVendaNovoHistorico").val();

            if (regiao != "" && estado != "" && municipio != "" && revenda != "" && bandeira != "" && instalacaoCodigo != ""
                && produto != "" && dataColeta != "" && undMedida != "" && valorVenda != "") {

                var historicoPost = {
                    regiao: regiao,
                    estado: estado,
                    municipio: municipio,
                    revenda: revenda,
                    instalacaoCodigo: instalacaoCodigo,
                    produto: produto,
                    dataColeta: dataColeta,
                    valorCompra: valorCompra,
                    valorVenda: valorVenda,
                    undMedida: undMedida,
                    bandeira: bandeira
                };

                $.ajax({
                    type: "POST",
                    data: JSON.stringify(historicoPost),
                    url: "http://localhost:52986/api/Historico/Post",
                    dataType: "json",
                    contentType: "application/json",
                    success: function () {
                        $("#modalNovo").modal("hide");
                        alert("Historico adicionado com sucesso.");
                        location.reload();
                    },
                    error: function () {
                        alert("Erro, tente novamanete!");
                    }
                });
            }
            else {
                alert("Todos os campos devem estar preenchidos!");
            }
        });

        function functionDetalharHistorico(id) {

            $.ajax({
                url: 'http://localhost:52986/api/Historico/Get/' + id,
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    $("#idHistoricoDetalharHistorico").html(data.idHistorico);
                    $("#regiaoDetalharHistorico").html(data.regiao);
                    $("#estadoDetalharHistorico").html(data.estado);
                    $("#municipioDetalharHistorico").html(data.municipio);
                    $("#revendaDetalharHistorico").html(data.revenda);
                    $("#instalacaoCodigoDetalharHistorico").html(data.instalacaoCodigo);
                    $("#produtoDetalharHistorico").html(data.produto);
                    $("#dataColetaDetalharHistorico").html(data.dataColeta);
                    $("#valorCompraDetalharHistorico").html(data.valorCompra);
                    $("#valorVendaDetalharHistorico").html(data.valorVenda);
                    $("#undMedidaDetalharHistorico").html(data.undMedida);
                    $("#bandeiraDetalharHistorico").html(data.bandeira);

                    $("#modalDetalhar").modal("show");
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        };

        function functionEditarHistorico(id) {
            
            $.ajax({
                url: 'http://localhost:52986/api/Historico/Get/' + id,
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    $("#idHistoricoEditarHistorico").val(data.idHistorico);
                    $("#regiaoEditarHistorico").val(data.regiao);
                    $("#estadoEditarHistorico").val(data.estado);
                    $("#municipioEditarHistorico").val(data.municipio);
                    $("#revendaEditarHistorico").val(data.revenda);
                    $("#instalacaoCodigoEditarHistorico").val(data.instalacaoCodigo);
                    $("#produtoEditarHistorico").val(data.produto);
                    $("#dataColetaEditarHistorico").val(data.dataColeta);
                    $("#valorCompraEditarHistorico").val(data.valorCompra);
                    $("#valorVendaEditarHistorico").val(data.valorVenda);
                    $("#undMedidaEditarHistorico").val(data.undMedida);
                    $("#bandeiraEditarHistorico").val(data.bandeira);

                    $("#modalEditar").modal("show");
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        };

        $(document).on("click", "#buttonEditarHistorico", function () {
            var idHistorico = $("#idHistoricoEditarHistorico").val();
            var regiao = $("#regiaoEditarHistorico").val();
            var estado = $("#estadoEditarHistorico").val();
            var municipio = $("#municipioEditarHistorico").val();
            var revenda = $("#revendaEditarHistorico").val();
            var bandeira = $("#bandeiraEditarHistorico").val();
            var instalacaoCodigo = $("#instalacaoCodigoEditarHistorico").val();
            var produto = $("#produtoEditarHistorico").val();
            var dataColeta = $("#dataColetaEditarHistorico").val();
            var undMedida = $("#undMedidaEditarHistorico").val();
            var valorCompra = $("#valorCompraEditarHistorico").val();
            var valorVenda = $("#valorVendaEditarHistorico").val();

            if (regiao != "" && estado != "" && municipio != "" && revenda != "" && bandeira != "" && instalacaoCodigo != ""
                && produto != "" && dataColeta != "" && undMedida != "" && valorVenda != "") {

                var historicoPost = {
                    idHistorico: idHistorico,
                    regiao: regiao,
                    estado: estado,
                    municipio: municipio,
                    revenda: revenda,
                    instalacaoCodigo: instalacaoCodigo,
                    produto: produto,
                    dataColeta: dataColeta,
                    valorCompra: valorCompra,
                    valorVenda: valorVenda,
                    undMedida: undMedida,
                    bandeira: bandeira
                };

                var usuario = JSON.stringify(historicoPost);
                var id = idHistorico;

                $.ajax({
                    url: 'http://localhost:52986/api/Historico/Put/' + id,
                    type: "PUT",
                    contentType: "application/json; charset=utf-8",
                    data: usuario,
                    dataType: "json",
                    success: function () {
                        $("#modaEditar").modal("hide");
                        alert("Historico editado com sucesso.");
                        location.reload();
                    },
                    error: function () {
                        alert("Erro, tente novamanete!");
                    }
                });
            }
            else {
                alert("Todos os campos devem estar preenchidos!");
            }
        });

    function functionDeletarHistorico(id) {

            $.ajax({
                url: 'http://localhost:52986/api/Historico/Delete/' + id,
                type: 'DELETE',
                success: function (data) {
                    alert("Historico deletado com sucesso.");
                    location.reload();
                },
                error: function (data) {
                    alert("Erro ao deletar o historico, tente novamente!");
                }
            });

            $("#modalDeletar").modal("hide");
        }
    </script>
}